*
{
  margin: 0px;
  padding: 0px;
}


.container
{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage
{
  height: 500px;
  width: 900px;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); 
}



.H1
{
  width: 50%;
  height: 100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.icon5
{
  display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding-bottom: 15px;
}

.common
{
  background-color: #fafafa;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-radius: 6px;
}

form
{
  display: flex;
  flex-direction: column;
  width: 330px;
}

.input_style
{
  height: 30px;
  padding-left: 10px;
  background-color: #f9f7f7;
}


  .btn {
    width: 35%;
    margin: auto;
    border-radius: 6px;
    background-color: #d24040;
    font-size: 17px;
    margin-top: 16px;
    padding: 9px 0px;
    border: none; 
    outline: none; 
  }
  
.H2
{
  width: 50%;
  height: 100%;
  background-color: #bd3333;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.btn1
{
  margin-top: 20px;
  border: 1px solid white;
  height: 30px;
  padding: 0px 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}