body {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", serif;
    background-color: rgb(244, 245, 249)
}

.quiz {
    width: 60vw;
    margin: 5% auto;
    background-color: white; 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); 
    border-radius: 10px; 
    padding: 20px; 
}


.header_section
{
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 
.details
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name
{
    padding-left: 40px;
    display: flex;
}

.name1
{
    line-height: 0px;
    font-weight: 400;
    font-size: 17px;
}

.name :nth-child(3)
{
    font-size: 10px;
}



.email :nth-child(3)
{
    font-size: 10px;
}

.email
{
    padding-right: 40px
}

.input :hover{
    border-color: rgb(118, 118, 202);
}

.question 
{
    padding-left: 40px;
}


input[type="text"]:hover, 
input[type="email"]:hover, 
input[type="radio"]:hover {
    border: 2px solid rgb(118, 118, 202);
    background-color: rgba(118, 118, 202, 0.1);
    transition: 0.3s;
}

.option
{
    text-align: left;
}

input[type="text"], 
input[type="email"], 
input[type="radio"] {
    border: 2px solid rgb(28, 28, 58);
    border-radius: 3px;
}

input[type="radio"]
{
    padding-right: 10px;
}

.question input[type="radio"] {
    margin-right: 8px;
}

.question label {
    display: block;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
} 

.question input[type="radio"]:checked {
    background-color: green; 
} 
 

.submit {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; 
}


.quiz, .result 
{ 
    text-align: center; 
    margin-top: 50px;
}
.result 
{
    display: none;
}

.result h2 
{
    color: #007bff;
} 
