* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif;
    background-color: #ffffffa9;
}

body
{
    all: revert; 
}

.main 
{
    display: grid;
    height: 90vh;
    width: 100wh;
    grid-template-columns: 20% 60% 20%;
    position: relative;
}

.sidebar 
{
    background-color: #e4ebe454;
}

.part3 
{
    background-color: #f7f7f7;
}


.fault 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
    flex-wrap: wrap; 
}

.fault_logo 
{
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    min-width: 150px; 
}

.fault_logo1 > img 
{
    width: 55px;
    height: 55px;
    padding: 13px;
}

.fault_logo_text 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    margin-left: -9px;
}

.fault_contain 
{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    width: 60%;
    flex-wrap: wrap; 
}

.fault_search1 
{
    font-size: 24px;
    font-weight: 550;
    padding-left: 17px;
}

.search 
{
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 60px;
}

.search-input 
{
    padding: 10px 35px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.search-icon 
{
    position: absolute;
    right: 70px;
    font-size: 16px;
    color: gray;
    cursor: pointer;
    border: none;
}

.fault_login 
{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* min-width: 100px; */
}


.login
{
    height: 35px;
    width: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #cdcaca;
}

.login a
{
    text-decoration: none;
    font-size: 17px;
    background-color: #cdcaca;
}


.signup
{
    height: 35px;
    width: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #0D6EFD;
}

.signup a
{
    text-decoration: none;
    font-size: 17px;
    background-color: #0D6EFD;
}


.logout
{
    height: 35px;
    width: 122px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    /* background-color: #DC3545; */
    border: 2px solid red;
}

.logout a
{
    text-decoration: none;
    font-size: 17px;
    /* background-color: #DC3545; */
    color: red;
}


.function 
{
    display: flex;
    flex-direction: column;
}


.common 
{
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.common i 
{
    margin-right: 10px;
    background: none;
}

.common a 
{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: 500;
    background: none;
}

.below 
{
    height: 350px;
}

.below .img_logo 
{
    height: 215px;
    padding-left: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.link 
{
    height: 40px;
    font-size: 25px;
    width: 136px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: #b479b4;
}




.control 
{
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 25px;
    padding-right: 25px;
}

.card3 
{
    text-align: center;
    background: #d1d1f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 120px;
    height: 134px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hexagon 
{
    width: 70px;
    height: 40px;
    background-color: rgb(100, 87, 195);
    position: relative;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.hexagon i 
{
    font-size: 24px;
    color: white;
    background: none;
    padding: 0;
    border: none;
}

.title 
{
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
    background-color: #d1d1f7;
}

.count 
{
    font-size: 24px;
    font-weight: bold;
    color: #000;
    background-color: #d1d1f7;
}


.graph
{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    height: 290px;
    margin-top: 20px;
}

.calender 
{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.calender iframe
{
    height: 300px;
    width: 300px;
}

.Notice_board 
{
    
    margin-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #f7f7f7;
    margin-bottom: 8px;
}


.Notice_board1 
{
    max-height: 350px;
    overflow: auto;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
}

.Notice_board1 img 
{
    height: 60px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.n1 
{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.m1 
{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
}

.m1 a 
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
    font-size: 14px;
}

.m1 a:hover 
{
    color: rgb(49, 44, 44);
}


.timetable
{
    position: absolute;
    left: 0%;
    transition: left 0.5s ease-in-out;
    top: 0;
    width: 20%;
    border: 2px solid black;
    height: 815px;
}




@media (max-width: 1200px) 
{
    .main 
    {
        grid-template-columns: 25% 50% 25%;
    }

    .card3
    {
        width: 100px;
        height: 120px;
    }

    .hexagon 
    {
        width: 60px;
        height: 35px;
    }

    .title 
    {
        font-size: 16px;
    }

    .count 
    {
        font-size: 20px;
    }

    .logo 
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo .login 
    {
        font-size: 12px;
        padding: 3px 6px;
    }
}

@media (max-width: 1000px) 
{
    .main 
    {
        grid-template-columns: 30% 70%;
    }

    .card3 
    {
        width: 90px;
        height: 110px;
    }

    .hexagon 
    {
        width: 50px;
        height: 30px;
    }

    .title 
    {
        font-size: 14px;
    }

    .count 
    {
        font-size: 18px;
    }

    .logo 
    {
        gap: 8px;
    }

    .logo .login 
    {
        font-size: 11px;
        padding: 2px 5px;
    }
}

@media (max-width: 800px) 
{
    .main 
    {
        grid-template-columns: 100%;
    }

    .sidebar, .part2, .part3 
    {
        width: 100%;
        height: auto;
    }

    .below 
    {
        display: none;
    }

    .function 
    {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 10px;
        overflow-x: auto;
        padding: 10px 0;
    }

    .common 
    {
        height: auto;
        padding: 0;
        white-space: nowrap;
    }

    .sidebar 
    {
        padding: 0;
        margin: 0;
    }

    .part2 
    {
        margin-top: 0;
        padding-top: 0;
    }

    .card3 
    {
        width: 80px;
        height: 100px;
    }

    .hexagon 
    {
        width: 40px;
        height: 25px;
    }

    .title 
    {
        font-size: 12px;
    }

    .count 
    {
        font-size: 16px;
    }

    .calender iframe 
    {
        width: 100%;
        height: 200px;
    }

    .part3 
    {
        position: relative;
    }

    .logo 
    {
        justify-content: center;
    }

    .logo .login 
    {
        font-size: 10px;
        padding: 2px 4px;
    }
}

@media (max-width: 600px) 
{
    .card3 
    {
        width: 70px;
        height: 90px;
    }

    .hexagon 
    {
        width: 30px;
        height: 20px;
    }

    .title 
    {
        font-size: 10px;
    }

    .count 
    {
        font-size: 14px;
    }

    .calender iframe 
    {
        height: 150px;
    }

    .logo 
    {
        gap: 5px;
    }

    .logo .login 
    {
        font-size: 9px;
        padding: 2px 3px;
    }
}

@media (max-width: 480px) 
{
    .card3
    {
        width: 60px;
        height: 80px;
    }

    .hexagon 
    {
        width: 25px;
        height: 15px;
    }

    .title 
    {
        font-size: 8px;
    }

    .count 
    {
        font-size: 12px;
    }

    .calender iframe 
    {
        height: 100px;
    }

    .logo 
    {
        justify-content: center;
        flex-wrap: wrap;
    }

    .logo .login 
    {
        font-size: 8px;
        padding: 2px 3px;
    }

    #myChart 
    {
        width: 100% !important;
        height: 200px !important;
    }

    .function 
    {
        gap: 8px;
    }

    .common 
    {
        transition: transform 0.2s ease, background-color 0.2s ease;
    }

    .common:hover 
    {
        transform: scale(1.1);
        background-color: rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 400px) 
{
    .card3 
    {
        width: 50px;
        height: 70px;
    }

    .hexagon 
    {
        width: 20px;
        height: 12px;
    }

    .title 
    {
        font-size: 7px;
    }

    .count 
    {
        font-size: 10px;
    }

    .calender iframe 
    {
        height: 80px;
    }

    .logo 
    {
        flex-direction: column;
        align-items: center;
    }

    .logo .login 
    {
        font-size: 7px;
        padding: 2px 3px;
    }

    #myChart 
    {
        height: 150px !important;
    }
}  


@media (max-width: 1200px) 
{
    .fault_login 
    {
        width: 15%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

@media (max-width: 1000px) 
{
    .fault_login 
    {
        width: 20%;
    }
}

@media (max-width: 900px) 
{
    .main 
    {
        grid-template-columns: 100%;
    }

    .calender 
    {
        width: 100%;
    }

    .calender iframe 
    {
        width: 100%;
        height: 300px;
    }

    .Notice_board1 
    {
        width: 100%;
    }

    .fault_login 
    {
        width: 25%;
    }
}

@media (max-width: 800px) 
{
    .fault_login 
    {
        width: 30%;
    }
}

@media (max-width: 600px) 
{
    .fault_login 
    {
        width: 35%;
    }
}

@media (max-width: 480px) 
{
    .fault_login 
    {
        width: 40%;
    }
}

@media (max-width: 400px) 
{
    .fault_login 
    {
        width: 45%;
    }
} 


